name: Generate Pacman

on:
  # run automatically every 24 hours
  schedule:
    - cron: "0 0 * * *" 
  
  # allows to manually run the job at any time
  workflow_dispatch:
  
  # run on every push on the master branch
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-pacman
    permissions:
      contents: write
      
    steps:
      - uses: actions/checkout@v3

      - name: generate-pacman
        uses: abozanona/pacman-contribution-graph@v2
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: push-pacman
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}